<div class="col-md-12">
    <div class="bg-light p-2">
        <h4>Comment</h4>
        <div class="d-flex flex-row align-items-start">
            @*<img src="@User.Claims." alt="User image" class="rounded-circle" width="40">*@
            <textarea class="form-control ml-1 shadow-none textarea"></textarea>
        </div>
        <div class="mt-2">
            <button class="btn btn-success btn-sm shadow-none" type="button">Comment</button>
        </div>
    </div>
</div>