.media{
    margin-top:5px;
    height:125px;
    background-color: rgb(206, 206, 206);
    border:1px solid rgba(0,0,0,0.2);
    border-radius:1rem;
    min-width: 100%;
}
.comment-container{
    position:center;
    bottom:10px;
}
.a-position {
    position: relative;
    left: 470px;
    bottom: 65px;
    width: 100px;
    box-sizing: border-box;
}
.name-text-position{
    position:relative;
    left:5px;
    top:5px;
}