.container{
    margin-top:100px;
}

.col-md-7 h2{
    color: #555;
}
.price{
    color: #FE980F;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
}
input{
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px;
}
.purchase{
    background: #FE980F;
    color: #FFFFFF;
    font-size: 15px;
    margin-left: 20px;
}
.carousel-item{
    height: 32rem;
    color: white;
    position:relative;
}

.box{
    width:50%;
    margin: 10px 5px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.15);
}
.box h4{
margin-bottom: 10px;
}
.pbox{
    font-size: 15px;
     line-height: 28px;
     height: 90px;
     overflow: hidden;
}
.box a{
    display: inline-block;
    color: #fff;
    background-color: #2196f3;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 15px;
}
.box a:hover{
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
.box.showContent p{
    height:auto;
}
.box.showContent a.readmore-btn{
    background-color: red;
}

.mt-2 {
    margin-left: 424px;
}